<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.366676709058-hboq28etab2kr1a5kcv8v8s820th3thl</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>366676709058-hboq28etab2kr1a5kcv8v8s820th3thl.apps.googleusercontent.com</string>
</dict>
</plist>
